body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    background-color: #2a6b2c;
}
.toolsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*Space between*/
    flex-grow: 4;
}
.toolsContainer button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;

    transition: all 0.5s ease;

    margin-left: 20%;
    margin-right: 20%;
}
.toolsContainer h1{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: white;
    font-weight: 500;

    background-color: #4CAF50; /* Green */
    border-radius: 12px;
    padding: 10px;
}
#winner:empty{
    display: none;

}
#winner{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: white;
    font-weight: 1500;

    background-color: red; /* Green */
    border-radius: 12px;
    padding: 10px;

    margin-top: 20px;
    margin-bottom: 20px;


}
#board {
    height: 540px;
    width: 630px;
    background-color: blue;
    border: 10px solid navy;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    z-index: 1;
    box-shadow: 1px 4px 5px 4px rgb(154, 153, 153);
}

.tile {
    box-shadow:  1px  4px 5px 4px rgb(154, 153, 153) inset;

    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;

}

.piece{
    height: 70px;
    width: 70px;
    margin: -4px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;

}

.red-piece {
    background-color: red;
    box-shadow:  1px  4px 5px 4px rgb(116, 36, 36) inset;

}

.yellow-piece {
    background-color: yellow;
    box-shadow:  1px  4px 5px 4px rgb(108, 116, 36) inset;

}




@keyframes fall {
    0% { transform: translateY(-500%); }
    100% { transform: translateY(0); }
}

.falling-piece {
    animation: fall 0.5s ease-out; /* Adjust duration and easing as needed */
    box-shadow:  0 0 0 0 rgb(100, 34, 34) inset;
}
#buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    
    /*Add gap*/
    gap: 10px;
}

.reverse{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;

    transition: all 0.5s ease;
}
.reverse:hover{
    background-color: #3e8e41;    
}